@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body._lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: PT Sans;
  src: url(/fonts/PTSans-Regular.ttf);
}
@font-face {
  font-family: Playfair Display;
  src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
body {
  font-family: "PT Sans";
  overflow-x: hidden;
  color: #ffffff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 0;
  background-color: #000;
}

.button-transparent {
  text-transform: uppercase;
  background: transparent;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  padding: 15px 30px;
  text-align: center;
  border: 2px solid #ffffff;
}

.button-transparent:hover {
  color: #0f0f0f;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.upper-header {
  width: 100%;
  max-width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.upper-header__container {
  margin: 0 10px;
  width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.upper-header__picto {
  width: 13px;
  height: 13px;
  margin: 1px 5px 0 0;
}
.upper-header__picto:hover {
  cursor: pointer;
}
.upper-header__text {
  color: #969696;
  font-size: 10px;
  line-height: 16px;
}

.menu-icon {
  display: none;
}

.header {
  margin: 0 0 0 10px;
  width: 100%;
  max-width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.header__wrapper {
  background-color: #0f0f0f;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__container {
  max-width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.header__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  width: 105px;
  height: 50px;
}
.header__button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: transparent;
  color: #969696;
  padding: 31px 15px;
  height: 100%;
}
.header__button:hover {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__button.active {
  color: #ffffff;
  background-color: #1f1f1f;
}
.header__picto {
  margin: 0 15px 0 20px;
}
.header__picto:hover {
  cursor: pointer;
}

.landing-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.landing-description__wrapper {
  background: url("../img/Man_with_backpack_bckgrond.png") center;
  width: 100%;
  height: 810px;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-description__outer-line {
  width: 320px;
  height: 320px;
  outline: 4px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.landing-description__logo {
  width: 185px;
  height: 85px;
}
.landing-description__underline {
  border-bottom: 2px solid #ffffff;
  width: 175px;
  margin-top: -10px;
}
.landing-description__town {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
}
.landing-description__text {
  margin-top: 80px;
  max-width: 730px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.season-catalog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}
.season-catalog__season {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1040px;
}
.season-catalog__season-title {
  font-size: 36px;
  line-height: 48px;
  font-family: "Playfair Display";
  font-weight: 500;
  text-transform: uppercase;
}
.season-catalog__underline {
  border-bottom: 2px solid #ffffff;
  width: 120px;
  margin-top: 50px;
}
.season-catalog__container-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.season-catalog__block {
  margin: 20px;
}
.season-catalog__image {
  background-color: #191b1c;
  max-width: 215px;
  max-height: 264px;
  padding: 20px;
}
.season-catalog__name {
  font-family: "Playfair Display";
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin: 25px 0 10px 0;
}
.season-catalog__price {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.season-catalog__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 880px;
  height: 730px;
  background: url("../img/Man_sitting_in_chair.png") center;
}
.season-catalog__container {
  position: relative;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.season-catalog__catalog-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "Playfair Display";
}
.season-catalog__catalog-underline {
  border-bottom: 2px solid #ffffff;
  width: 120px;
  margin: 30px 0;
}

.collection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.collection__background {
  width: 930px;
  height: 600px;
  background: url("../img/Man_standing_black-white.png") center;
}
.collection__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 240px;
}
.collection__title {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 40px;
}
.collection__underline {
  border-bottom: 2px solid #ffffff;
  width: 120px;
  margin-bottom: 40px;
}
.collection__text {
  max-width: 630px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 50px;
}

.catalog {
  margin: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.catalog__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.catalog__underline {
  border-bottom: 2px solid #ffffff;
  width: 120px;
  margin-bottom: 40px;
}
.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__block {
  margin: 10px;
  max-width: 260px;
  max-height: 405px;
}
.catalog__image {
  background-color: #191b1c;
  width: 215px;
  height: 264px;
  padding: 25px;
}
.catalog__name {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}
.catalog__price {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-top: 10px;
}
.catalog__block-last {
  margin: -65px 10px 10px 10px;
  max-width: 260px;
  max-height: 405px;
  background-color: #191b1c;
  position: relative;
}
.catalog__image-last {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  width: 215px;
  height: 264px;
  padding: 25px;
}
.catalog #last-button {
  position: absolute;
  top: 100px;
  right: 12px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

.wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 0;
  background-color: #0f0f0f;
}

.articles {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles__title {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.articles__underline {
  border-bottom: 2px solid #ffffff;
  width: 120px;
  margin-bottom: 40px;
}
.articles__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
.articles__image {
  max-width: 800px;
  max-height: 437px;
}
.articles__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 0 0;
  margin: 0 20px 0 145px;
  max-width: 650px;
}
.articles__article-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.articles__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 25px;
}
.articles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articles__tags {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.partners {
  margin: 90px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__title {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.partners__underline {
  border-bottom: 2px solid #ffffff;
  width: 120px;
  margin-bottom: 60px;
}
.partners__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__company {
  margin-right: 30px;
  max-width: 370px;
  max-height: 150px;
}

.footer {
  background: url(../img/footer_background.png) center no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}
.footer__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 25px;
  max-width: 350px;
}
.footer__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
}
.footer__button {
  background: #0f0f0f;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  margin: 0 6px 20px 0;
}
.footer__button:hover {
  background: #ffffff;
  color: #0f0f0f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer__input {
  background: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  padding: 10px 20px 10px 20px;
  max-width: 210px;
  color: #ffffff;
}
.footer__input::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.footer__input::-moz-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.footer__input:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.footer__input::-ms-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.footer__input::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.footer__submit {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  margin: -3px;
  background: #0f0f0f;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
}
.footer__submit:hover {
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lower-footer {
  width: 100%;
  max-width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lower-footer__container {
  margin: 0 10px;
  width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.lower-footer__text {
  color: #969696;
  font-size: 10px;
  line-height: 16px;
}
.lower-footer #footer-link {
  text-decoration: underline;
}

/* Медиа-запрос для экранов с максимальной шириной 1300px */
@media (max-width: 1300px) {
  .season-catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .season-catalog__season {
    margin: 40px 10px 100px 10px;
  }
  .season-catalog__container-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  .season-catalog__block {
    margin: 10px;
  }
  .season-catalog__image {
    background-color: #191b1c;
    width: 300px;
    height: 300px;
    padding: 15px;
  }
  .season-catalog__catalog {
    margin-bottom: 40px;
  }
  .collection__background {
    display: none;
  }
  .collection__main {
    margin: 0 10px 0 10px;
  }
  .articles__image {
    display: none;
  }
  .articles__container {
    max-width: 653px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .articles__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 0 0;
    margin: 0 20px 0 20px;
    max-width: 650px;
  }
  .partners {
    margin: 90px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners__title {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .partners__underline {
    border-bottom: 2px solid #ffffff;
    width: 120px;
    margin-bottom: 60px;
  }
  .partners__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners__company {
    margin: 15px;
    max-width: 370px;
    max-height: 150px;
  }
  .footer #first-footer-block {
    display: none;
  }
}
/* Медиа-запрос для экранов с максимальной шириной 750px */
@media (max-width: 750px) {
  /* Стили для body и .menu-icon */
  body._lock {
    overflow: hidden;
  }
  .menu-icon {
    z-index: 7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 20px;
    width: 35px;
    height: 22px;
    cursor: pointer;
  }
  .menu-icon::before,
  .menu-icon::after,
  .menu-icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu-icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu-icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }
  /* Стили для .header */
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__part {
    z-index: 5;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0f0f0f;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: active;
  }
  .header__button {
    width: 100%;
    height: 100px;
  }
  .header__part._active {
    left: 0;
  }
  .season-catalog__container-bot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
  }
  .articles__title {
    text-align: center;
  }
  .partners__company {
    margin-right: 15px;
    max-width: 260px;
    max-height: 120px;
  }
  .footer__block {
    margin: 10px 10px;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__submit {
    margin: 3px;
  }
}
.swiper-slide {
  width: 30%;
}